<h1>Welcome in the frontend</h1>
@if(people().length) {
    <ng-template
        [ngTemplateOutlet]="loadingEnd"
        [ngTemplateOutletContext]="{$implicit: people(), theader: tableHeader}">
    </ng-template>
}
@else {
    <ng-template [ngTemplateOutlet]="loading"></ng-template>
}
<ng-template #loading>Loading....</ng-template>

<ng-template #loadingEnd let-items let-head="theader">
    <div class="container">
    <table class="table">
        <th scope="col" *ngFor="let colHead of head">{{colHead | uppercase}}</th>
        <tbody>
        <tr *ngFor="let row of items">
            <td class="table-dark" scope="col" *ngFor="let col of getColumns(row); let i = index">
                <ng-container *ngIf="isLinkEntry(row[col]); else entry">
                    <a [routerLink]="'/frontend/'+ link(row[col])">{{link(row[col])}}</a>
                </ng-container>
                <ng-template #entry>
                    <span>{{row[col]}}</span>
                </ng-template>

            </td>
        </tr>
        </tbody>
    </table>
    </div>

</ng-template>
