
  :root {

  --hex-app-name-info:  #ccc;
  --hex-app-name-warning:  #fffa9a;
  --hex-app-name-default:  #2196f3;
  --hex-app-name-danger: #ff0000;
  --hex-app-name-black: #1a1a1a;
  --hex-app-name-white: #fff;
  }
